.Currency_converter{
    display: flex;
    flex-direction: column;
    gap: 20PX;
    margin: 50PX;
}

.block_of_money {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.block_of_money > div:nth-child(1), .block_of_money > div:nth-child(3) {
    width: 240px;
    height: 30px;
    border: solid 2px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.block_of_money > div:nth-child(1) > label > input, .block_of_money > div:nth-child(3) > label > input {
    font-size: 1.4em;
    width: 140px;
}

.table_currency_converter > table {
    border-collapse: collapse;
}

.table_currency_converter > th, .table_currency_converter > td {
    border: solid 1px black;
}

.convertible, .converted {
    border: none;
}

#_18_load_id {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(175, 167, 167);
    opacity: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#_18_load_id > img{
    width: 80px;
    height: 80px;
}