table {
    border-collapse: collapse;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}

td, th {
    border: solid 1px black;
}

tr > th:nth-child(1) {
    width: 25px;
}
tr > th:nth-child(2) {
    width: 250px;
}
tr > th:nth-child(3) {
    width: 50px;
}
tr > th:nth-child(4) {
    width: 100px;
}

tr > td:nth-child(1) {
    text-align: center;
}

th:hover {
    background-color: rgb(125, 129, 129);
    cursor: pointer;
}
.span_IF {
text-align: center;
padding: 10px;
}

