{% extends 'frontend.html' %}

{% block main %}

<link rel="stylesheet" href="/static/Pop-up_menu_CSS.css">
<span>Сплывающее меню (стандартная вёрстка)</span>
<div class="menu">
    <div class="products">
        <div class="products_menu">
            <button>Каталог</button>
        </div>
        <div class="menu_products">
            <div>
                <div class="p_1"></div>
                <div>Автомобиль №1</div>
            </div>
            <div>
                <div class="p_2"></div>
                <div>Автомобиль №2</div>
            </div>
            <div>
                <div class="p_3"></div>
                <div>Автомобиль №3</div>
            </div>
            <div>
                <div class="p_4"></div>
                <div>Автомобиль №4</div>
            </div>
            <div>
                <div class="p_5"></div>
                <div>Автомобиль №5</div>
            </div>
            <div>
                <div class="p_6"></div>
                <div>Автомобиль №6</div>
            </div>
            <div>
                <div class="p_7"></div>
                <div>Автомобиль №7</div>
            </div>
            <div>
                <div class="p_8"></div>
                <div>Автомобиль №8</div>
            </div>
            <div>
                <div class="p_9"></div>
                <div>Автомобиль №9</div>
            </div>
        </div>
        <div class="products_two">
            <div>
                <div class="mp_1"></div>
                <div><b> - Автомобили</b></div>
            </div>
            <div>
                <div class="mp_2"></div>
                <div><b> - Мотоцыклы</b></div>
            </div>
            <div>
                <div class="mp_3"></div>
                <div><b> - Грузовики</b></div>
            </div>
            <div>
                <div class="mp_4"></div>
                <div><b> - Эсковаторы</b></div>
            </div>
            <div>
                <div class="mp_5"></div>
                <div><b> - Верталеты</b></div>
            </div>
            <div>
                <div class="mp_6"></div>
                <div><b> - Катера</b></div>
            </div>
        </div>
    </div>
    <div class="products">
        <div class="products_three">
            <div>
                <div class="mp_1_2"></div>
                <div><b> - Автомобили</b></div>
            </div>
            <div>
                <div class="mp_2_2"></div>
                <div><b> - Мотоцыклы</b></div>
            </div>
            <div>
                <div class="mp_3_2"></div>
                <div><b> - Грузовики</b></div>
            </div>
            <div>
                <div class="mp_4_2"></div>
                <div><b> - Эсковаторы</b></div>
            </div>
            <div>
                <div class="mp_5_2"></div>
                <div><b> - Верталеты</b></div>
            </div>
            <div>
                <div class="mp_6_2"></div>
                <div><b> - Катера</b></div>
            </div>
        </div>
        <div class="menu_products menu_products_dop">
            <div>
                <div class="p_1_2"></div>
                <div>Автомобиль №1</div>
            </div>
            <div>
                <div class="p_2_2"></div>
                <div>Автомобиль №2</div>
            </div>
            <div>
                <div class="p_3_2"></div>
                <div>Автомобиль №3</div>
            </div>
            <div>
                <div class="p_4_2"></div>
                <div>Автомобиль №4</div>
            </div>
            <div>
                <div class="p_5_2"></div>
                <div>Автомобиль №5</div>
            </div>
            <div>
                <div class="p_6_2"></div>
                <div>Автомобиль №6</div>
            </div>
            <div>
                <div class="p_7_2"></div>
                <div>Автомобиль №7</div>
            </div>
            <div>
                <div class="p_8_2"></div>
                <div>Автомобиль №8</div>
            </div>
            <div>
                <div class="p_9_2"></div>
                <div>Автомобиль №9</div>
            </div>
        </div>
    </div>
</div>
<div class="menu_2">
    <div class="menu_2_body">
        <div class="three_menu">
            <div>
                <div class="mp_1_a"></div>
                <div><b> - Авт...</b></div>
            </div>
            <div>
                <div class="mp_2_a"></div>
                <div><b> - Мот...</b></div>
            </div>
            <div>
                <div class="mp_3_a"></div>
                <div><b> - Гру...</b></div>
            </div>
            <div>
                <div class="mp_4_a"></div>
                <div><b> - Эск...</b></div>
            </div>
            <div>
                <div class="mp_5_a"></div>
                <div><b> - Вер...</b></div>
            </div>
            <div>
                <div class="mp_6_a"></div>
                <div><b> - Кат...</b></div>
            </div>
        </div>
        <div class="three_menu_products">
            <div>
                <div class="p_1_a"></div>
                <div>Автомобиль №1</div>
            </div>
            <div>
                <div class="p_2_a"></div>
                <div>Автомобиль №2</div>
            </div>
            <div>
                <div class="p_3_a"></div>
                <div>Автомобиль №3</div>
            </div>
            <div>
                <div class="p_4_a"></div>
                <div>Автомобиль №4</div>
            </div>
            <div>
                <div class="p_5_a"></div>
                <div>Автомобиль №5</div>
            </div>
            <div>
                <div class="p_6_a"></div>
                <div>Автомобиль №6</div>
            </div>
            <div>
                <div class="p_7_a"></div>
                <div>Автомобиль №7</div>
            </div>
            <div>
                <div class="p_8_a"></div>
                <div>Автомобиль №8</div>
            </div>
            <div>
                <div class="p_9_a"></div>
                <div>Автомобиль №9</div>
            </div>
        </div>
    </div>
</div>
<div class="menu_3">
    <div>
        <div id="left_button_PUM_id"><</div>
        <div class="menu_3D">
            <div>
                <div class="mp_1_b"></div>
                <div><b> - Автомобили</b></div>
            </div>
            <div>
                <div class="mp_2_b"></div>
                <div><b> - Мотциклы</b></div>
            </div>
            <div>
                <div class="mp_3_b"></div>
                <div><b> - Грузовики</b></div>
            </div>
            <div>
                <div class="mp_4_b"></div>
                <div><b> - Эсковаторы</b></div>
            </div>
            <div>
                <div class="mp_5_b"></div>
                <div><b> - Вертолеты</b></div>
            </div>
            <div>
                <div class="mp_6_b"></div>
                <div><b> - Катера</b></div>
            </div>
        </div>
        <div id="right_button_PUM_id">></div>
    </div>
    <div class="four_menu_products">
        <div>
            <div class="p_1_b"></div>
            <div>Автомобиль №1</div>
        </div>
        <div>
            <div class="p_2_b"></div>
            <div>Автомобиль №2</div>
        </div>
        <div>
            <div class="p_3_b"></div>
            <div>Автомобиль №3</div>
        </div>
        <div>
            <div class="p_4_b"></div>
            <div>Автомобиль №4</div>
        </div>
        <div>
            <div class="p_5_b"></div>
            <div>Автомобиль №5</div>
        </div>
        <div>
            <div class="p_6_b"></div>
            <div>Автомобиль №6</div>
        </div>
        <div>
            <div class="p_7_b"></div>
            <div>Автомобиль №7</div>
        </div>
        <div>
            <div class="p_8_b"></div>
            <div>Автомобиль №8</div>
        </div>
        <div>
            <div class="p_9_b"></div>
            <div>Автомобиль №9</div>
        </div>
    </div>
</div>
<script src="/static/Pop-up_menu_JS.js"></script>

{% endblock %}