{% extends 'frontend.html' %}

{% block main %}

<link rel="stylesheet" href="/static/Screen_standardization_CSS.css">
<span>Стандартизация экрана для гаджетов (стандартная вёрстка)</span>
<div>
    <h2>Трансформация котиков</h2>
    <div class="cats_class">
        <img src="/static/Cat-1.jpg" alt="нету котика">
        <img src="/static/Cat-2.jpg" alt="нету котика">
        <img src="/static/Cat-3.jpg" alt="нету котика">
        <img src="/static/Cat-4.jpg" alt="нету котика">
    </div>
    <h2>Трансформация информации про Леопарда</h2>
    <div class="leopard_class" id="leopard_class_ID">
        <img src="/static/Cat-5.jpg" alt="нету котика">
        <span><b>Леопард</b> - вид крупного хищного млекопитающего из семейства кошачьих, относящийся к роду пантера
            (Panthera). Ближайшие родственники - барсы.</span>
        <span>Ареал распространения леопардов захватывает большую часть Африки, Переднюю Азию, Закавказье, Пакистан,
            Индию, Китай, Индонезию и некоторые другие регионы. Леопарда можно охарактеризовать, как достаточно крупное
            животное, массой до 75 кг. и длиной тела в среднем до 160 см., без учета хвоста.</span>
        <span class="types_of_leopards">
            <h3>Виды леопардов</h3>
            <b>Переднеазиатский</b>, или кавказский леопард (Pantera pardus ciscaucasica). Обитает в Армении,
            Афганистане и Ираке. Ранее встречался на Кавказе, в Туркменистане, Турции, Узбекистане, Таджикистане и
            Иране, но сейчас его популяция и ареал обитания значительно сократились.<br>
            <b>Черный леопард</b>, или черная пантера. Вид леопардов с темным окрасом — на темной шерсти располагаются
            еще более темные пятна, издалека кажется полностью черным, но это тот же пятнистый леопард, но с темным
            окрасом. Встречаются в основном на Яве. Особи с темным окрасом рождаются у обычных животных с желтым
            окрасом, в одном помете могут родится темные и желтые котята.<br>
            <b>Дальневосточный</b>, или амурский леопард (Pantera pardus orientalis). Встречается на Дальнем Востоке, в
            основном в Приморье на границе с Китаем. Самый северный подвид леопарда. В природе осталось всего несколько
            десятков особей.<br>
            <b>Белый, или снежный леопард</b>, также известен как снежный барс (ирбис). Из-за внешнего сходства, долгое
            время считался леопардом, но в настоящее время снежный барс выделен в отдельный род Снежные барсы (Uncia),
            тогда как леопарды относятся к роду Пантера (большие кошки). По виду снежный барс напоминает леопарда, но
            меньше по размеру и более приземистый. Отличается очень густой длинной шерстью (длина волоса до 55см),
            короткими лапами, небольшой головой, длинным туловищем и хвостом. Окрас дымчатый серый без примесей желтого.
            Обитает в горах Центральной и Южной Азии. Единственный представитель семейства Кошачьих, который живет там,
            где постоянно лежит снег. В настоящее время в мире осталось около 3 000 особей в дикой природе.<br>
            <b>Дымчатый леопард (Neofelis nebulosa)</b>. Несмотря на название, дымчатый леопард на самом деле не
            является леопардом. Этот более мелкий представитель семейства кошачьих выделен в отдельный род Дымчатые
            леопарды, тогда как настоящие леопарды относятся к роду Пантера (большие кошки). Дымчатый леопард отличается
            небольшими размерами — вес около 20 кг, длина тела вместе с хвостом — 1,6 — 1,9 метра. Внешне отдаленно
            напоминает леопарда. Обитает в Юго-Восточной Азии. Также его называют «пятнистый леопард», но это не совсем
            правильное название.<br>
            <b>Горный леопард</b>. Редкий малоизвестный вид. Обитает в Альпах и горах Африки. Счет особей идет на
            единицы.<br>
        </span>
    </div>
</div>
<hr>
<span>Стандартизация экрана для гаджетов (вёрстка чисто на Java Script)</span>
<div id="Screen_standardization_JS_id">

</div>
<hr>
<span>Стандартизация экрана для гаджетов (вёрстка в JQuery)</span>
<div id="Screen_standardization_JQ_id">

</div>
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script src="/static/Screen_standardization_JS.js"></script>

{% endblock %}