<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frontend</title>
    <link rel="stylesheet" href="/static/frontend_CSS.css">
</head>
<body>
    
    <div class="beckend_style">
        <div class="beckend_head_class">
            <div><div>ДЕМОНСТРАЦИЯ FRONTEND НАВЫКОВ</div></div>
            <div><div>на фреймворке Flask</div><div></div></div>
            <div><div>на серверном коде Python</div><div></div></div>
        </div>
        <hr size="5" color="blue">
        <div>
            <footer class="footer" id="footer_id"></footer>
            <div class="new_body" id="block_main">
                {% block main %}{% endblock %}
            </div>
        </div>
    </div>
<script src="/static/frontend_JS.js"></script>
</body>
</html>
